:root {
    --main-bg-gradient: linear-gradient(to bottom right, #3d3163, #1c172c);
    --main-card-gradient: linear-gradient(to top right, #3A5684, #3A5684 50%, #264271);
    --gradient-green: linear-gradient(to right, #61a864, #838206);
    --gradient-red: linear-gradient(to right, #cf4a00, #ad6f07);
    --gradient-blue: linear-gradient(to right, #0090AF, #00ACB2);
    --gradient-yellow: linear-gradient(to right, #f7cc1f, #838206);
    --main-text: #F3F2FA;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    background-color: #392e5c;
    background-image: var(--main-bg-gradient);
    background-attachment: fixed;

    margin: 0;
    color: #F3F2FA;
}

a, a:visited {
    text-decoration: none;
    color: var(--main-text);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
    font-family: 'Yu Gothic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    grid-area: header;
    background-color: #2E2741;
}

.menu-icon {
    position: fixed;
    display: flex;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    height: 24px;
    padding: 12px;
    font-size: 24px;
}

.header_avatar {
    margin-right: 42px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    grid-area: sidenav;
    background-color: #3A3052;    
}

.sidenav.active {
    transform: translateX(0)
}

.sidenav_close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
}

.sidenav_list {
    padding: 0;
    margin-top: 85px;
    list-style: none;
}

.sidenav_list-item {
    padding: 20px 20px 20px 40px;
}

.sidenav_list-item:hover, .sidenav_list-item a:hover{
    color: #46C6AC;
}

.footer {
    grid-area: footer;
    background-color: #2E2741;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    color: #F3F2FA;
}

.main {
    grid-area: main;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: #3A5684;
    background-image: var(--main-card-gradient);
    border-radius: 5px;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #3A5684;
    background-image: var(--main-card-gradient);
    border-radius: 5px;
}

.overviewcard-info {
    font-size: 2em;
    background: var(--gradient-green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #3A5684;
    background-image: var(--main-card-gradient);
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 4px 12px;
    box-sizing: border-box;
    border-radius: 5px;
}


.card_transaction-amount  {
    font-size: 2em;    
}

.card_transaction-amount.green {
    background: var(--gradient-green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_transaction-amount.red {
    background: var(--gradient-red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_transaction-dateblock {
    display: flex;
    flex-flow: column;
}

.card_transaction-date {
    font-size: 24px;
    margin: 0;
}

.card_transaction-type {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}


.pinpad {
    padding: 1em;
}

.pinpad-screen{
    width: 100%;
    height: 10em;
    color: #1c172c;
    background-color: var(--main-text);
    margin-bottom: 1em;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pinpad-keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.pinpad-keys button{
    background: none;
    color: var(--main-text);
    font-size: 2em;
    border-style: none;

}


/* rounded border gradient from */
/* http://blog.compsoul.pl/liseblog/border-image-linear-gradient-border-radius-jako-przycisk/57.html */
.pinpad-key-gradient {
  border-radius: 8px;
  color: blue;
  display: inline-block;
  line-height: 0px;
  overflow: hidden;
  position: relative;
  transition: background 0.2s;
}



.pinpad-key-gradient:before {
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #00ACB2, #0090AF);
  border-image-slice: 1;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.pinpad-key-gradient-corner {
  display: inline-block;
  font-size: 18px;
  line-height: 52px;
  overflow: hidden;
  /* padding: 0px 32px; */
  /* position: relative; */
  width: 100%;
  text-transform: uppercase;
}

.pinpad-key-gradient-corner:before, .pinpad-key-gradient-corner:after {
  box-sizing: border-box;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 10px;
  z-index: 0;
}

.pinpad-key-gradient-corner:before {
  border: 4px solid #00ACB2;
  border-radius: 8px 0px 0px 8px;
  border-right: 0px;
  left: 0px;
}

.pinpad-key-gradient-corner:after {
  border: 4px solid #0090AF;
  border-radius: 0px 8px 8px 0px;
  border-left: 0px;
  right: 0px;
}

.pinpad-key-gradient.green:before {
    border-image: linear-gradient(to right, #61a864, #448306);
    border-image-slice: 1;
}

.pinpad-key-gradient-corner.green:before {
    border-color: #61a864;
}

.pinpad-key-gradient-corner.green:after {
    border-color: #448306;
}


.pinpad-key-gradient.red:before {
    border-image: linear-gradient(to right, #cf4a00, #ad6f07);
    border-image-slice: 1;
}

.pinpad-key-gradient-corner.red:before {
    border-color: #cf4a00;
}

.pinpad-key-gradient-corner.red:after {
    border-color: #ad6f07;
}



.pinpad-key-gradient.yellow:before {
    border-image: linear-gradient(to right, #f7cc1f, #838206);
    border-image-slice: 1;
}

.pinpad-key-gradient-corner.yellow:before {
    border-color: #f7cc1f;
}

.pinpad-key-gradient-corner.yellow:after {
    border-color: #838206;
}

.pinpad-key-gradient:hover {
    background: linear-gradient(to right, #00ACB2, #0090AF);
}

.pinpad-key-gradient.green:hover {
    background: linear-gradient(to right, #61a864, #448306);
}
.pinpad-key-gradient.red:hover {
    background: linear-gradient(to right, #cf4a00, #ad6f07);
}
.pinpad-key-gradient.yellow:hover {
    background: linear-gradient(to right, #f7cc1f, #838206);
}

/* Tablet */
@media only screen and (min-width: 45.875em) {
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }

    .sidenav {
        position: relative;
        transform: translateX(0);
        transition: all .1s ease-in-out;
    }

    .sidenav_close-icon{
        visibility: hidden;
    }
}

/* Desktop */
@media only screen and (min-width: 65.625em) {
    
}